.banner-section {
    padding: var(--space2x) 0;
    .img-bg {
        height: 100px;
    }
    @media (min-width: 992px) {
        width: 60%;
        margin: auto;
    }
}

.card-list {
    li {
        margin-bottom: var(--space);
    }
}
