.banner-section {
    width: 60%;
    margin: auto;
    .img-bg {
        height: 100px;
    }
}

.img-section .card {
    border: none;
    border-radius: 10px;
}

.card-list {
    li {
        margin-bottom: 20px;
    }
}
